@font-face {
    font-family: 'IBMPlexSans-Bold';
    src: url('../fonts/IBMPlexSans-Bold.eot');
    src: url('../fonts/IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IBMPlexSans-Bold.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Bold.woff') format('woff'),
        url('../fonts/IBMPlexSans-Bold.ttf') format('truetype'),
        url('../fonts/IBMPlexSans-Bold.svg#IBMPlexSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSansSemiCondensed-SemiBold';
    src: url('../fonts/IBMPlexSansSemiCondensed-SemiBold.eot');
    src: url('../fonts/IBMPlexSansSemiCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IBMPlexSansSemiCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/IBMPlexSansSemiCondensed-SemiBold.woff') format('woff'),
        url('../fonts/IBMPlexSansSemiCondensed-SemiBold.ttf') format('truetype'),
        url('../fonts/IBMPlexSansSemiCondensed-SemiBold.svg#IBMPlexSansSemiCondensed-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.woff') format('woff'),
        url('../fonts/Lato-Black.ttf') format('truetype'),
        url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans-SemiBold';
    src: url('../fonts/IBMPlexSans-SemiBold.eot');
    src: url('../fonts/IBMPlexSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-SemiBold.woff') format('woff'),
        url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype'),
        url('../fonts/IBMPlexSans-SemiBold.svg#IBMPlexSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans-BoldItalic';
    src: url('../fonts/IBMPlexSans-BoldItalic.eot');
    src: url('../fonts/IBMPlexSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-BoldItalic.woff') format('woff'),
        url('../fonts/IBMPlexSans-BoldItalic.ttf') format('truetype'),
        url('../fonts/IBMPlexSans-BoldItalic.svg#IBMPlexSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Hairline';
    src: url('../fonts/Lato-Hairline.eot');
    src: url('../fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Hairline.woff2') format('woff2'),
        url('../fonts/Lato-Hairline.woff') format('woff'),
        url('../fonts/Lato-Hairline.ttf') format('truetype'),
        url('../fonts/Lato-Hairline.svg#Lato-Hairline') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    max-width: 1230px;
}

.table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

#page {
    overflow: hidden;
}


/* <---------------------- Header - Section ----------------------> */
header .container {
    padding-top: 5.9375rem;
    padding-bottom: 5.9375rem;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

header ul li {
    margin-left: 81px;
}

header ul li:first-child {
    margin-left: 0;
}

header ul li:last-child {
    padding-left: 60px;
    background: #4012cb;
    border-radius: 6px;
    padding-right: 60px;
    border: 2px solid #4012cb;

}

header ul li:last-child:hover {
    background: none;
    color: #4012cb;
}

header ul li:last-child a {
    color: #f7f0e8;
    font-family: 'Lato-Black';
}

header ul li a {
    font-family: 'Lato-Light';
    border-bottom: 2px solid #4012cb;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    font-family: 'Lato-Black';
    border-bottom: 3px solid #4012cb;
}

header ul li:last-child a:hover {
    color: #4012cb;
}

/* <---------------------- Header - Section ----------------------> */


/* <!---------------------- Banner-top - Section ----------------------> */
.banner-top .container {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

.banner-left h1 {
    font-size: 75px;
    line-height: 77px;
    font-family: 'IBMPlexSans-Bold';
}

.banner-left p {
    font-size: 12.5px;
    line-height: 16px;
    font-family: 'Lato-Light';
    text-align: justify;
}

.banner-right h3 {
    font-size: 33.33px;
    line-height: 35px;
    font-family: 'IBMPlexSans-BoldItalic';

}

.bannere-right h4 {
    font-size: 20.83px;
    line-height: 23px;
    font-family: 'IBMPlexSans-SemiBold';
    font-style: italic;
}

.table>:not(caption)>*>* {
    padding: 0;
}

.banner-top .table {
    margin-bottom: 0;
}

/* <!---------------------- Banner-top - Section ----------------------> */


/* <!---------------------- Banner - Section ----------------------> */
.banner-section .container {
    padding-top: 100px;
    padding-bottom: 200px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

.banner-top .container {
    position: relative;
}

.banner-right {
    position: absolute;
    right: -65px;
    top: 40%;
    left: auto;
    rotate: 90deg;
    width: auto;
}

.carousel-indicators [data-bs-target] {
    background-color: #fff;
}
.carousel-dark {
    --bs-carousel-indicator-active-bg: #fff;
    --bs-carousel-caption-color: #fff;
    --bs-carousel-control-icon-filter: none;
}
/* <!---------------------- Banner - Section ----------------------> */


/* <!---------------------- First - Section ----------------------> */
.first-section {
    border-top: 6px double #000;
    border-bottom: 6px double #000;
}

.first-section .container {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    padding-top: 115px;
    padding-bottom: 115px;
}

.first-content {
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
}

.first-content h2 {
    font-family: 'IBMPlexSans-Bold';
    font-size: 75px;
    line-height: 77px;
}

.first-content p {
    font-size: 28px;
    line-height: 30px;
    font-family: 'IBMPlexSans-Bold';
    padding-top: 60px;
    color: #4012cb;
}

/* <!---------------------- First - Section ----------------------> */


/* <!---------------------- Second - Section ----------------------> */
.second-section {
    overflow: hidden;
}

.second-section .container {
    position: relative;
    padding-top: 160px;

}

.second-section .container:after {
    content: "";
    width: 3px;
    background: #000;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
}

.second-section .container::before {
    content: "";
    width: 3px;
    background: #000;
    height: 160px;
    position: absolute;
    top: 0;
    right: 0;
}

.left-side {
    position: relative;
}

.left-side::after {
    content: "";
    background: #4012cb;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -1000%;
}

.right-side {
    position: relative;
}

.right-side::after {
    background: #000;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1000%;
    left: 0;
}

.leftside-x {
    position: relative;
    z-index: 2;
}

.second-section h2 {
    font-size: 61px;
    line-height: 63px;
    font-family: 'IBMPlexSans-Bold';
    color: #fff;
    max-width: 533px;
    width: 100%;
    margin: 0 auto;
}

.second-section a {
    font-size: 18px;
    line-height: 19px;
}

.btn-success {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}

.btn-success:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.btn-outline-secondary {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.btn-outline-secondary:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}

/* <!---------------------- Second - Section ----------------------> */



/* <!---------------------- Third - Section ----------------------> */
.third-section {
    padding-top: 115px;
    padding-bottom: 115px;
}

.third-box {
    max-width: 560px;
}

.third-section .row {
    justify-content: space-between;
}

.third-section p {
    font-size: 12.52px;
    line-height: 14px;
    font-family: 'Lato-Light';
    border-top: 3px solid #4012cb;
    padding-top: 33px;
    text-align: justify;
}

.third-section img {
    margin-bottom: 33px;
}

.btn-primary {
    font-size: 18px;
    line-height: 19px;
    color: #f7f0e8;
    border-color: #4012cb;
    background-color: #4012cb;
}

.btn-primary:hover {
    color: #4012cb;
    background: none;
    border-color: #4012cb;
}

.btn-outline-primary {
    font-size: 18px;
    line-height: 19px;
    color: #4012cb;
    border-color: #4012cb;
}

.btn-outline-primary:hover {
    background: #4012cb;
    color: #f7f0e8;
}

.third-section span {
    font-size: 51px;
    line-height: 52px;
    color: #4012cb;
    font-family: 'IBMPlexSans-SemiBold';

}

/* <!---------------------- Third - Section ----------------------> */


/* <!---------------------- Four - Section ----------------------> */
.four-section .row {
    align-items: center;
}

.four-left {
    background: url(../images/left-image.jpg) no-repeat center top;
    background-size: cover;
    height: 872px;
    line-height: 1px;
}

.four-content {
    position: relative;
}

.four-content::after {
    content: "";
    border-top: 6px double #000;
    position: absolute;
    top: -120px;
    left: 0;
    right: 0;

}

.four-content::before {
    content: "";
    border-bottom: 6px double #000;
    position: absolute;
    bottom: -120px;
    left: 0;
    right: 0;
}

.four-content h3 {
    font-size: 28px;
    line-height: 30px;
    font-family: 'IBMPlexSans-Bold';
    color: #4012cb;
}

.four-content h2 {
    font-size: 75px;
    line-height: 77px;
    font-family: 'IBMPlexSans-Bold';
    padding-top: 28px;
}

.four-content p {
    font-size: 12.5px;
    line-height: 16px;
    font-family: 'Lato-Light';
    padding-top: 55px;
    text-align: justify;
}

.four-x a {
    margin-top: 55px;
    display: inline-block;
    font-size: 18px;
    line-height: 19px;
    color: #f7f0e8;
}

.four-x {
    max-width: 455px;
    width: 100%;
    vertical-align: middle;
    margin-left: 50px;
}

/* <!---------------------- Four - Section ----------------------> */


/* <!---------------------- Five - Section ----------------------> */
.five-section .row {
    align-items: center;
}

.five-x {
    position: relative;
    z-index: 1;
}

.five-content {
    position: relative;
}

.five-content::after {
    content: "";
    background: #4012cb;
    position: absolute;
    top: -94px;
    bottom: -94px;
    left: -1000%;
    right: 0;
}

.five-right img {
    margin: 70px 0 70px 70px;
}

.five-x {
    max-width: 340px;
}

.five-x h3 {
    font-size: 28px;
    line-height: 30px;
    font-family: 'IBMPlexSans-Bold';
    color: #f7f0e8;
}

.five-x h2 {
    font-size: 75px;
    line-height: 77px;
    font-family: 'IBMPlexSans-Bold';
    padding-top: 28px;
    color: #f7f0e8;
}

.five-x p {
    font-size: 12.5px;
    line-height: 16px;
    font-family: 'Lato-Light';
    padding-top: 55px;
    text-align: justify;
    color: #f7f0e8;
}

.five-x a {
    margin-top: 55px;
    display: inline-block;
    font-size: 18px;
    line-height: 19px;
    color: #f7f0e8;
    border: 2px solid #f7f0e8;
    width: 100%;
}

.five-x a:hover {
    background: #000;
    color: #f7f0e8;
}

/* <!---------------------- Five - Section ----------------------> */



/* <!---------------------- Six - Section ----------------------> */
.six-section {
    padding-bottom: 130px;
    padding-top: 130px;
}

.image-box img {
    width: 100%;
}

.box-content h2 {
    font-size: 115px;
    line-height: 116px;
    font-family: 'IBMPlexSans-Bold';
    padding-top: 63px;
    position: relative;
    padding-bottom: 30px;
}

.box-content h2::after {
    content: "";
    background: #4012cb;
    height: 3px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.box-content p {
    font-size: 12.5px;
    line-height: 16px;
    font-family: 'Lato-Light';
    padding-top: 55px;
    text-align: justify;
}

.box-content a {
    display: inline-block;
}

.btn-dark:hover {
    background: none;
    color: #000;
}

/* <!---------------------- Six - Section ----------------------> */


/* <!---------------------- Seven- Section ----------------------> */
.accordion-section {
    padding-top: 60px;
}

.title h2 {
    font-family: 'IBMPlexSans-Bold';
    font-size: 48px;
    line-height: 50px;
    color: #fff;
}

.seven-section {
    background: #4012cb;
    position: relative;
}

.seven-section::after {
    content: "";
    border-top: 6px double #fff;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
}

.seven-section::before {
    content: "";
    border-bottom: 6px double #fff;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}

.seven-section .container {
    padding-top: 150px;
    padding-bottom: 150px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}

.accordion-box {
    margin: 20px auto 0;
    width: 758px;
    background: #fff;
    border-radius: 8px;
}

.accordion-box h3 {
    font-family: 'Lato-Regular';
    font-size: 16px;
    line-height: 17px;
    padding: 25px;
    position: relative;
    cursor: pointer;
}

.accordion-box p {
    font-size: 12.5px;
    line-height: 16px;
    font-family: 'Lato-Light';
    padding: 25px 25px 50px 25px;
}

.accordion-box:first-child {
    margin-top: 0;
}

.accordion-title.collapsed h3:after {
    content: "+";
}

.accordion-title h3::after {
    content: "-";
    right: 0;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 30px;
}

/* <!---------------------- Seven- Section ----------------------> */


/* <!---------------------- Eight- Section ----------------------> */
.eight-section {
    padding-top: 170px;
    padding-bottom: 170px;
    background: #f7f0e8;
}

.eight-title h2 {
    font-family: 'IBMPlexSans-Bold';
    font-size: 62px;
    line-height: 64px;
}

.input-group {
    justify-content: space-between;
    border: 2px solid #4012cb;
    max-width: 780px;
    margin: 45px auto 0;
    padding: 0 10px 0 30px;
    align-items: center;
    border-radius: 5px;
}

input[type="email"] {
    background: none;
    outline: 0;
    border: 0;
    width: 540px;
    font-size: 16px;
    line-height: 17px;
    font-family: 'Lato-Regular';
}

::placeholder {
    font-size: 16px;
    line-height: 17px;
    font-family: 'Lato-Regular';
}

input[type="email"]:focus {
    font-size: 16px;
    line-height: 17px;
    font-family: 'Lato-Regular';
}

input[type="submit"] {
    font-family: 'IBMPlexSans-Bold';
    font-size: 25px;
    line-height: 26px;
    color: #f7f0e8;
}

/* <!---------------------- Eight- Section ----------------------> */



/* <!---------------------- Nine- Section ----------------------> */
.nine-section {
    background: url(../images/background-image.jpg) no-repeat center top;
    background-size: cover;
    height: 368px;
}

/* <!---------------------- Nine- Section ----------------------> */



/* <!---------------------- Footer- Section ----------------------> */
footer {
    padding-top: 77px;
    padding-bottom: 77px;
    background: #4012cb;
}

.footer-sec {
    max-width: 840px;
    width: 100%;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-title h2 {
    font-size: 62px;
    line-height: 64px;
    color: #f7f0e8;
    font-family: 'IBMPlexSans-Bold';
    max-width: 185px;
}

.footer-head h3 {
    font-size: 25px;
    line-height: 27px;
    color: #f7f0e8;
    font-family: 'IBMPlexSans-Bold';
    padding-top: 80px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    padding-top: 30px;
}

.footer-links ul li:first-child {
    padding-top: 0;
}

.footer-links ul li a {
    font-family: 'Lato-Regular';
    font-size: 20px;
    line-height: 21px;
    color: #f7f0e8;
}

.footer-flex {
    padding-top: 51px;
}

.footer-last {
    padding-top: 60px;
}

.footer-log h4 {
    font-size: 20px;
    line-height: 22px;
    color: #f7f0e8;
    font-family: 'IBMPlexSans-Bold';
}

.footer-last {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* <!---------------------- Footer- Section ----------------------> */



@media(max-width:1060px) {
    .four-content h2 {
        font-size: 71px;
        line-height: 75px;

    }

    .four-x {
        max-width: 434px;
    }
}


@media(max-width:1024px) {

    .four-content h2,
    .five-x h2 {
        font-size: 65px;
        line-height: 69px;
    }

    .four-x {
        max-width: 409px;
    }

    .five-right img {
        margin: 0 0 0 0;
    }
}

@media(max-width:979px) {
    input[type="email"] {
        width: 458px;
    }

    header ul li {
        margin-left: 50px;
    }

    .banner-left h1 {
        font-size: 65px;
        line-height: 67px;
    }

    header .container {
        padding-top: 2.9375rem;
        padding-bottom: 2.9375rem;
    }

    .eight-section,
    .banner-section .container,
    .first-section .container,
    .third-section {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .accordion-box {
        width: 665px;
    }

    .box-content h2 {
        font-size: 90px;
        line-height: 92px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .box-content p,
    .first-content p {
        padding-top: 30px;
    }

    .four-content::after {
        top: -74px;
    }

    .four-content::before {
        bottom: -38px;
    }

    .four-x {
        margin-left: 20px;
        max-width: 334px;
    }

    .first-content h2 {
        font-size: 54px;
        line-height: 58px;
    }

    .second-section .container {
        padding-top: 90px;
    }

    .second-section .container:after,
    .second-section .container::before {
        height: 91px;
    }

    .four-left {
        height: 738px;
    }

    .four-content h3 {
        font-size: 24px;
        line-height: 25px;
    }

    .four-content p {
        padding-top: 28px;
    }

    .nine-section {
        height: 230px;
    }
}


@media(max-width:767px) {
    .banner-left p {
        max-width: 422px;
    }

    header .container {
        padding-top: 10px;
        padding-bottom: 2.9375rem;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        font-family: 'Lato-Light';
        text-align: center;
        border-bottom: 0px;
    }

    header ul li:last-child a {
        font-family: 'Lato-Light';
        color: rgb(0 0 0 / 65%);
    }

    header ul li:last-child {
        padding-left: 0;
        background: none;
        border-radius: 0;
        padding-right: 0;
        border: 0px solid #4012cb;
        border-top: 1px solid rgb(0 0 0 / 20%);
        border-bottom: 5px solid #4012cb;
    }


    .navbar-collapse {
        text-align: center;
    }

    header ul li {
        margin-left: 0px;
        border-top: 1px solid rgb(0 0 0 / 20%);
    }

    header ul li:first-child {
        border-top: 0px solid rgb(0 0 0 / 20%);
    }

    .banner-section .container,
    .first-section .container,
    .third-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .third-box {
        max-width: 100%;
        padding-top: 30px;
    }

    .four-content::after {
        top: 50px;
    }

    .five-section {
        padding-top: 200px;
    }

    .four-content {
        padding-top: 100px;
    }

    .five-x {
        max-width: none;
        text-align: center;
    }

    .five-content::after {
        right: -1000%;
    }

    .left-side::after {
        left: 0;
    }

    .five-right img {
        margin: 120px 0 0 0;
        width: 100%;
    }

    .accordion-box {
        width: 100%;
    }

    .accordion-title.collapsed h3:after {
        padding-left: 20px;
    }

    .right-side::after {
        right: 0;
    }

    .box-content {
        text-align: center;
        padding-bottom: 30px;
    }

    .box-content p {
        text-align: center;
    }

    input[type="submit"] {
        font-family: 'IBMPlexSans-Bold';
        font-size: 20px;
        line-height: 21px;
    }

    input[type="email"] {
        width: 351px;
    }

    .footer-title h2 {
        font-size: 47px;
        line-height: 51px;
    }

    .footer-head h3 {
        padding-top: 40px;
    }

    .six-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .four-x {
        margin-left: 0;
        max-width: 570px;
        text-align: center;
    }

    .accordion-box {
        width: 100%;
    }

    .accordion-box p {
        padding: 20px 20px 30px 20px;
    }

    .mt-5 {
        margin-top: 2rem !important;
    }

    .box-content a {
        display: block;
    }

    .five-x p {
        padding-top: 25px;
    }


    .input-group {
        border: 0;
        padding: 0;
    }

    input[type="email"] {
        border: 2px solid #4012cb;
        width: 100%;
        padding: 20px;
    }

    .email-sec {
        width: 100%;
        max-width: 100%;
    }

    .accordion-section {
        width: 100%;
        max-width: 100%;
    }

    input[type="submit"] {
        margin-top: 20px;
        max-width: 100%;
        width: 100%;
    }

    .title h2 {
        font-size: 27px;
        line-height: 31px;
    }

    .banner-right h3 {
        font-size: 20px;
        line-height: 23px;

    }

    .banner-right {
        right: -57px;
    }

    .banner-left h1 {
        font-size: 32px;
        line-height: 34px;
    }

    .submit-sec {
        float: left;
        width: 100%;
    }

    .nine-section {
        height: 110px;
    }

    .eight-title h2 {
        font-size: 35px;
        line-height: 37px;
    }

    .four-content p {
        padding-top: 28px;
        text-align: center;
    }

    .footer-title h2 {
        max-width: none;
        text-align: center;
    }

    .footer-head h3 {
        text-align: center;
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 30px;
    }

    .footer-links ul li {
        padding-top: 15px;
    }

    .footer-links ul li:first-child {
        padding-top: 15px;
    }
}

@media(max-width:639px) {
    .banner-left h1 {
        font-size: 50px;
        line-height: 53px;
    }

    .banner-left p {
        max-width: 321px;
    }

    .first-content h2 {
        font-size: 35px;
        line-height: 37px;
    }

    .first-content p {
        font-size: 27px;
        line-height: 29px;
    }

    .four-x {
        margin-left: 0;
        max-width: 440px;
        text-align: center;
    }

    .banner-right {
        right: -58px;
    }

    .box-content p {
        text-align: justify;
    }

    input[type="email"] {
        border: 2px solid #4012cb;
        padding: 10px;
    }

    .input-group {
        margin: 25px auto 0;
    }

    .accordion-box h3 {
        padding: 10px 40px 10px 10px;
    }

    .accordion-box p {
        padding: 15px 15px 25px 15px;
        text-align: justify;
    }

    .accordion-title h3::after {
        right: 10px;
    }

}

@media(max-width: 479px) {
    .banner-left h1 {
        font-size: 32px;
        line-height: 34px;
    }

    .banner-left p {
        max-width: 195px;
    }

    .carousel-indicators {
        display: none;
    }

    .banner-section .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .first-content h2 {
        font-size: 25px;
        line-height: 28px;
    }

    .first-content p {
        font-size: 17px;
        line-height: 20px;
        padding-top: 15px;
    }

    .second-section .container,
    .eight-section,
    footer,
    .six-section {

        padding-top: 40px;
        padding-bottom: 40px;
    }

    .second-section .container:after,
    .second-section .container::before {
        height: 40px;
    }

    .second-section h2 {
        font-size: 35px;
        line-height: 38px;
    }

    .py-3 {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }

    .third-section .d-flex {
        flex-direction: column;
        width: 100%;

    }

    .third-section .d-flex a {
        max-width: 100%;
        width: 100%;
    }

    .four-left {
        height: 460px;
    }

    .four-content h2,
    .five-x h2 {
        font-size: 41px;
        line-height: 44px;
        padding-top: 20px;
    }

    .footer-title h2 {
        font-size: 41px;
        line-height: 44px;
    }

    .third-section span {
        padding-top: 15px;
    }

    .third-box {
        text-align: center;
    }

    .top-btn a img {
        height: 51px;
        width: 51px;
    }

    .footer-log h4 {
        font-size: 13px;
        line-height: 16px;
    }

    .footer-last {
        padding-top: 30px;
    }
}